<!-- Javascript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/assets/javascripts/imagesloaded.pkgd.min.js"></script>

{% if page.syntaxHighlighter %}
  <script src="/assets/javascripts/prism.js"></script>
{% endif %}

<script>
  $(document).ready(function(){

    // Featured image loaded behavior
    $('.section-backgroundImage img').imagesLoaded()
      .done( function( instance ) {
        $('.post-featuredImage').addClass('is-loaded');
      });

    // Modal toggle behavior
    $('.modal-toggle-wrapper').click(function() {
    	$(this).toggleClass('active');
      $('.modal-toggle-bubble').toggleClass('active');
    	$('.modal-toggle-bubbleShadow').toggleClass('active');
      $('.modal-toggle-close-wrapper').toggleClass('active');
      $('.fullscreenModal').toggleClass('active');
    });

    // Prevent default anchor event and make a share popup
    $.fn.sharePopup = function (e, intWidth, intHeight, blnResize) {

      e.preventDefault();
      intWidth = intWidth || '750';
      intHeight = intHeight || '500';
      strResize = (blnResize ? 'yes' : 'no');

      //// Set title and open popup with focus on it
      var strTitle = ((typeof this.attr('title') !== 'undefined') ? this.attr('title') : 'Social Share'),
          strParam = 'width=' + intWidth + ',height=' + intHeight + ',resizable=' + strResize,
          objWindow = window.open(this.attr('href'), strTitle, strParam).focus();
    }

    $('.shareButton').on("click", function(e) {
      $(this).sharePopup(e);
    });
  });

  // Show modal toggle after scrolling 300px
  $(document).scroll(function() {
    $('.modal-toggle-group').toggleClass('active', $(document).scrollTop() >= 300);
  });
</script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    processEscapes: true
  }
});
</script>

<script>

function saturateTop() {
  var windowScroll = $(window).scrollTop();
  $(".desaturate").each(function(index) {
    var offsetY = $(this).offset().top - windowScroll;
    if (offsetY > 70 && offsetY < 400) {
      $(this).addClass("topBlock");
    } else {
      $(this).removeClass("topBlock");
    }
  });
}

$( window ).scroll(function() {
  saturateTop();
});

saturateTop();
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>