<footer class="site-footer">
  <div class="container">
    <div class="footer-meta">
      <p>Hand crafted by <a href="/about/">Yaniv Leviathan</a></p>
      <p class="email-code"><tt>yaniv.leviathan.public at proton dot me</tt></p>
    </div>
    
    <div class="social-links">
      {% if site.author.twitter %}
        <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank" aria-label="Twitter">
          <i class="fab fa-twitter"></i>
        </a>
      {% endif %}
      
      {% if site.author.facebook %}
        <a href="https://facebook.com/{{ site.author.facebook }}" target="_blank" aria-label="Facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
      {% endif %}
      
      {% if site.author.linkedin %}
        <a href="https://linkedin.com/in/{{ site.author.linkedin }}" target="_blank" aria-label="LinkedIn">
          <i class="fab fa-linkedin-in"></i>
        </a>
      {% endif %}
    </div>
    
    <div class="copyright">
      © {{ site.time | date: '%Y' }} All Rights Reserved.
    </div>
  </div>
</footer>