<section class="section--subscribe">
    <div class="container container--content" style="max-width: none;">
        <p>
            Distinguished Engineer, Google Research (foundation and new architectures).
            <a href="https://gamengen.github.io/">GameNGen</a> (2024),
            <a href="https://arxiv.org/abs/2211.17192">Speculative Decoding</a> (2022),
            <a href="https://research.google/blog/google-duplex-an-ai-system-for-accomplishing-real-world-tasks-over-the-phone/">Google Duplex</a> (2014-2018),
            <a href="https://blog.google/products/search/introducing-knowledge-graph-things-not/">Knowledge Graph</a>  (2011-2018),
            <a href="https://trends.google.com/trends/">Google Trends</a>  (2010).
            </ul>            
        </p>
    </div>
</section>
