---
layout: default
---
<main class="post-wrapper">
  
  <header class="post-header" 
          style="{% if page.image.feature %}--hero-bg: url('/assets/images/largesize/{{ page.image.feature }}');{% endif %} view-transition-name: hero-{{ page.url | slugify }};">
    
    <div class="header-content container">
      <div class="super-title">
        {% if page.categories %}{{ page.categories | first }}{% else %}Blog{% endif %} &middot; {{ page.date | date: "%Y" }}
      </div>

      <h1 class="entry-title" style="view-transition-name: title-{{ page.url | slugify }};">{{ page.title }}</h1>
      
      {% if page.excerpt %}
      <div class="entry-subtitle">{{ page.excerpt | strip_html }}</div>
      {% endif %}

      <div class="meta-data">
        <!-- <span>By <strong>Yaniv Leviathan</strong></span> -->
        <!-- <span>&middot;</span> -->
        <span class="date">{{ page.date | date: "%B %d, %Y" }}</span>
        {% if page.tags %}
        <span>&middot;</span>
        <span class="tags-list">
           {% for tag in page.tags %}
             <span class="tag-pill">{{ tag }}</span>
           {% endfor %}
        </span>
        {% endif %}
      </div>
    </div>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  {% if page.previous.url %}
  <section class="post-navigation">
    <hr />
    <div class="next-story">
      <span>Read Next</span>
      <a href="{{ page.previous.url }}">
        <h3>{{ page.previous.title }}</h3>
      </a>
    </div>
  </section>
  {% endif %}

  {% if site.disqus %}
  <section class="comments">
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = "{{ page.url | absolute_url }}";
            this.page.identifier = "{{ page.url }}";
        };
        (function() {
            var d = document, s = d.createElement('script');
            s.src = 'https://{{ site.disqus }}.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
  </section>
  {% endif %}

</main>